.heading{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 80px;
    
}

.heading h2 {
   font-weight: bold;
    font-size: 30px;
}

.search_result{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search_result span{
  font-weight: bold;
}


.characterlist {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
 /* ensures center alignment even when items wrap */
  margin-top: 20px;
 
}

/* Default - 4 items per row */
app-charactercard {
  flex: 0 0 calc(25% - 24px);
  box-sizing: border-box;
}

/* Medium laptops - 3 items per row */
@media (max-width: 1200px) {
  app-charactercard {
    flex: 0 0 calc(33.33% - 24px);
  }
}

/* Small laptops - 2 items per row */
@media (max-width: 992px) {
  app-charactercard {
    flex: 0 0 calc(50% - 24px);
  }
}

/* Tablets and smaller devices - 1 item per row */
@media (max-width: 768px) {
  app-charactercard {
    flex: 0 0 100%;
  }
}
